* {
    margin  : 0;
    padding : 0;
}

html, html>body, body {
    background-color : #000000;
    color            : #888888;
}

h1 {
    position         : fixed;
    top              : 0;
    z-index          : 6;
    font-weight      : bold;
    font-size        : 68px;
    color            : #999999;
    background-color : #000000;
    border-bottom    : 1px solid #aaaaaa;
    width            : 100%;
    padding          : 0;
    margin           : 0;
    opacity          : .75;
    -moz-opacity     : .75;
    filter           : alpha(opacity=75);
}

#main {
}
#main_ul {
    position       : fixed;
    margin         : 0;
    padding        : 0 0 12px 36px;
    padding-bottom : 400px;
    overflow       : hidden;
    top            : 138px;
}
.main_ul_lis {
    list-style-type : none;
}

a.main_ul_lis_link {
    color        : #bbbbbb;
    font-weight  : bold;
    font-size    : 22px;
    display      : block;
    height       : 36px;
    padding-left : 12px;
}

#focus {
    position   : fixed;
    z-index    : 2;
    left       : 24px;
    border     : 6px solid #ffff55;
    margin     : 0;
    padding    : 0;
    height     : 2em;
    top        : 138px;
}

#navi {
    position              : fixed;
    z-index               : 12;
    right                 : 24px;
    bottom                : 24px;
    color                 : #ffffff;
    background-color      : #777777;
    border                : 3px solid #333333;
    padding               : 6px 12px;
    border-radius         : 12px;
    -webkit-border-radius : 12px;
    -moz-border-radius    : 12px;
    opacity               : .75;
    -moz-opacity          : .75;
    fliter                : alpha(opacity=75);
}
#navi_ul {
    margin  : 0;
    padding : 0;
}
.navi_ul_lis {
    list-style-type : none;
}
kbd {
    font-weight : bold;
}
